@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1 w-96;
}

.no-pagination .swiper-pagination {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  /* background-color: gray; */
  /* background-color: #fff; */
  /* height: 50px;
  width: 50px; */
  opacity: 0.6;
  border-radius: 50px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

/* .swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  background: url();
}

.swiper-button-next {
  background: url();
} */
